# Blacklist everything
/*


# Track only certain files
# Git ignore
!/.gitignore
# Configuration files
!/alacritty
!/awesome
!/eww
!/flameshot
!/fontconfig
!/gammyconf
!/htop
!/hypr
!/neofetch
!/nvim
!/picom
!/rofi
!/touchegg
!/zsh


# Blacklist files
/zsh/.zcompdump
/**/.vscode/
*.lock
/**/__pycache__/
