[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/Rubato"]
	path = awesome/Rubato
	url = https://github.com/andOrlando/rubato.git
[submodule "awesome/rubato"]
	path = awesome/rubato
	url = https://github.com/andOrlando/rubato
