# Blacklist everything
/*


# Track only certain files
# Git ignore
!/.gitignore
# Configuration files
!/alacritty
!/awesome
!/flameshot
!/fontconfig
!/gammyconf
!/htop
!/neofetch
!/picom
!/rofi
!/touchegg
!/zsh


# Blacklist files
/zsh/.zcompdump
/**/.vscode
