root = true

[*]
# Encoding
charset = utf-8
end_of_line = lf
# Indent
indent_style = space
indent_size = 4
# White spaces
insert_final_newline = true
trim_trailing_whitespace = true
# Other
max_line_length = 100

[*.{js,ts,json,css}]
indent_size = 2
