.bar {
  background: transparent;
}

.workspace .client-dot {
  background: white;
  border-radius: 100%;
}
.workspace .client-dot.active {
  background: cyan;
}

.workspace.active .workspace-line {
  background: white;
}
