.bar {
  background: transparent;
}

.workspace {
  border: 2px solid transparent;
}

.workspace.active {
  border-bottom-color: red;
}

.workspace .client-dot {
  background: white;
  border-radius: 100%;
}

.workspace .client-dot.active {
  background: cyan;
}
